@tailwind base;
@tailwind components;
@tailwind utilities;

/* Window Menu */
body {
	padding-top: 24px;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: black;
}

::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
	background: darkgray;
}

html {
	background-color: rgba(18, 18, 18, 0.75);
	background-opacity: 0.5;
}
